#!/bin/sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

#xrandr --output "Virtual-1" --mode 1920x1080 &

autostart="xcompmgr dunst unclutter"

for program in $autostart; do
	pidof -sx "$program" || "$program" &
done >/dev/null 2>&1
(pidof -sx wireplumber || wpctl status)>/dev/null 2>&1

xset s off &
xset -dpms &
xset s noblank &

if [ -f "$HOME"/.fehbg ]; then
	. "$HOME"/.fehbg &
else
	feh --bg-fill "$HOME"/Github/MyGithub/Dotfiles/misc/img.jpg &
fi

# dwm status bar
dwm_statusbar | dwm_setstatus &
