[Unit]
Description = Lock screen when going to sleep/suspend
Before=sleep.target
Before=suspend.target

[Service]
User=%i
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/%i/.scripts/lockscreen
ExecStartPost=/usr/bin/sleep 1
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
